<div id="playlist" class="playlist">

    <div class="debug-timer" ng-show="app.settings.debug == 1">
        <round-progress
                max="app.timerMax"
                current="app.timerCurrent"
                color="#ffffff"
                bgcolor="transparent"
                radius="12"
                stroke="2"
                clockwise="false"
                rounded="true"
                duration="300"
                animation="easeInOutQuart"
                animation-delay="0"></round-progress>
        <div class="debug-timer-text">{{app.timerCurrent}}</div>
    </div>

    <div class="debug-infos" ng-show="app.settings.debug == 1">
        <div>platform: {{app.systemInfos.platform}}</div>
        <hr>
        <div>
            <div ng-repeat="(key, networkInterface) in app.systemInfos.networkInterfaces">
                <div>{{key}}</div>
                <div ng-repeat="networkIP in networkInterface">
                    {{networkIP.family}}: {{networkIP.address}}
                </div>
            </div>
        </div>
        <hr>
        <div>serial: {{app.settings.serial}}</div>
        <div>label: {{app.settings.label || "-"}}</div>
        <div>rotation: {{app.settings.rotation}}</div>
        <div>debug: {{app.settings.debug}}</div>
        <hr>
        <div>id: {{app.element.id}}</div>
        <div>playlist_id: {{app.element.playlist_id}}</div>
        <div>asset_id: {{app.element.asset_id}}</div>
        <div>duration: {{app.element.duration}}</div>
        <div>position: {{app.element.position}}</div>
        <div>asset_type_id: {{app.element.asset_type_id}}</div>
        <div>original_filename: {{app.element.original_filename}}</div>
        <div>filename: {{app.element.filename}}</div>
        <div>comment: {{app.element.comment || "-"}}</div>
        <div>created: {{app.element.created}}</div>
        <div>modified: {{app.element.modified || "-"}}</div>
    </div>

    <div class="media-container" style="transform:  translateX(-50%) translateY(-50%) rotate({{app.settings.rotation}}deg);">
        <img ng-show="(app.element.filePath | extLowerCase) == 'png' || (app.element.filePath | extLowerCase) == 'jpg' || (app.element.filePath | extLowerCase) == 'gif'" class="playlist-img-{{app.settings.angle}}" ng-src="{{app.element.filePath}}" alt="{{app.element.filePath}}">
    </div>

    <video ng-if="(app.element.filePath | extLowerCase) == 'mp4'" autoplay loop class="playlist-video" ng-src="{{app.element.filePath}}" type="video/mp4"></video>

</div>